name: CI

# Trigger the workflow on push to master / main, or on pull request
on:
  push:
    branches:
      - master
      - main
  pull_request:

jobs:
  test:
    name: "Test action (testfile: '${{ matrix.testfile }}', mode: '${{ matrix.mode }}', coverage: '${{ matrix.coverage }}',  pre-gap: '${{ matrix.pre-gap }}',  warnings-as-errors: '${{ matrix.warn }})"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        coverage: ['true']
        testfile: ['']
        warn: ['true']
        pre-gap: ['']
        mode: ['default']
        include:
          # test coverage
          - coverage: 'false'
            testfile: ''
            warn: 'true'
            pre-gap: ''
            mode: 'default'
          # test testfile
          - coverage: 'true'
            testfile: 'tst/testall.g'
            warn: 'true'
            pre-gap: ''
            mode: 'default'
          # test warn
          - coverage: 'true'
            testfile: ''
            warn: 'false'
            pre-gap: ''
            mode: 'default'
          # test pre-gap
          - coverage: 'true'
            testfile: ''
            warn: 'true'
            pre-gap: 'time'
            mode: 'default'
          # test mode
          - coverage: 'true'
            testfile: ''
            warn: 'true'
            pre-gap: ''
            mode: 'onlyneeded'
          - coverage: 'true'
            testfile: ''
            warn: 'true'
            pre-gap: ''
            mode: 'loadall'
    steps:
      # the order of the checkout actions is important because all contents of
      # the target folder of the checkout action is removed
      - name: "Clone the Example package"
        uses: actions/checkout@v5
        with:
          repository: gap-packages/example
      - name: "Check out this repository"
        uses: actions/checkout@v5
        with:
          path: this-action/
      - uses: gap-actions/setup-gap@v2
        with:
          GAP_PKGS_TO_BUILD: ''
      - uses: gap-actions/build-pkg@v1
      - uses: ./this-action/
        with:
          coverage: ${{ matrix.coverage }}
          testfile: ${{ matrix.testfile }}
          warnings-as-errors: ${{ matrix.warn }}
          pre-gap: ${{ matrix.pre-gap }}
          mode: ${{ matrix.mode }}
  test-failure:
    name: "Validate input (testfile: '${{ matrix.testfile }}', mode: '${{ matrix.mode }}', coverage: '${{ matrix.coverage }}',  pre-gap: '${{ matrix.pre-gap }}',  warnings-as-errors: '${{ matrix.warn }})"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        coverage: ['true']
        testfile: ['']
        warn: ['true']
        pre-gap: ['']
        mode: ['default']
        include:
          # test coverage
          - coverage: 'nonsense'
            testfile: ''
            warn: 'true'
            pre-gap: ''
            mode: 'default'
          # test warn
          - coverage: 'true'
            testfile: ''
            warn: 'nonsense'
            pre-gap: ''
            mode: 'default'
          # test pre-gap
          - coverage: 'true'
            testfile: ''
            warn: 'true'
            pre-gap: 'nonsense'
            mode: 'default'
          # test mode
          - coverage: 'true'
            testfile: ''
            warn: 'true'
            pre-gap: ''
            mode: 'nonsense'
        exclude:
          - coverage: 'true'
            testfile: ''
            warn: 'true'
            pre-gap: ''
            mode: 'default'
    steps:
      - name: "Clone the Example package"
        uses: actions/checkout@v5
        with:
          repository: gap-packages/example
      - name: "Check out this repository"
        uses: actions/checkout@v5
        with:
          path: this-action/
      - uses: gap-actions/setup-gap@v2
        with:
          GAP_PKGS_TO_BUILD: ''
      - uses: gap-actions/build-pkg@v1
      - uses: ./this-action/
        with:
          coverage: ${{ matrix.coverage }}
          testfile: ${{ matrix.testfile }}
          warnings-as-errors: ${{ matrix.warn }}
          pre-gap: ${{ matrix.pre-gap }}
          mode: ${{ matrix.mode }}
        continue-on-error: true
        id: bad-input
      - name: Previous step fails
        if: steps.bad-input.outcome != 'failure'
        run: exit 1
