name: CI

# Trigger the workflow on push or pull request
on:
  - push
  - pull_request
env:
  CHERE_INVOKING: 1

jobs:
  test:
    name: ${{ matrix.no-coverage }} ${{ matrix.testfile }}
    runs-on: windows-latest
    # Don't run this twice on PRs for branches pushed to the same repository
    if: ${{ !(github.event_name == 'pull_request' && github.event.pull_request.head.repo.full_name == github.repository) }}
    strategy:
      fail-fast: false
      matrix:
        no-coverage: ['']
        testfile: ['']
        include:
          - no-coverage: 'no-coverage'
            testfile: ''
          - no-coverage: ''
            testfile: 'tst/testall.g'

    steps:
      # the order of the checkout actions is important because all contents of
      # the target folder of the checkout action is removed
      - name: "Clone the Example package"
        uses: actions/checkout@v2
        with:
          repository: gap-packages/example
      - name: "Check out this repository"
        uses: actions/checkout@v2
        with:
          path: this-action/
      - uses: gap-actions/setup-cygwin@v1
      - uses: gap-actions/setup-gap@cygwin-v2
        with:
          GAP_PKGS_TO_BUILD: ''
      - uses: gap-actions/build-pkg@cygwin-v1
      - uses: ./this-action/
        with:
          NO_COVERAGE: ${{ matrix.no-coverage }}
          GAP_TESTFILE: ${{ matrix.testfile }}
